<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="keywords" content="关键字" />
        <meta name="description" content="描述" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="address=no" />
        <!--for baidu 识别移动端页面并禁止百度转码-->
        <meta name="applicable-device"content="mobile"> 
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../media/css/mui.min.css" rel="stylesheet" />
		<link href="../media/css/app.css" rel="stylesheet" />
		<link href="../media/css/iconfont.css" rel="stylesheet" />
	</head>

	<body>
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-slide-in">
		<!--菜单部分-->
		<aside id="offCanvasSide" class="mui-off-canvas-right">
			<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="slider-nav">
						<li class="mui-table-view-cell">
							<a href="detail.html"><i class="icon iconfont icon-wenjian1"></i>项目概况</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="list.html"><i class="icon iconfont icon-shuyuedushoucangxianxing"></i>政策法规</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="list.html"><i class="icon iconfont  icon-tongzhi"></i>公告公示</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-tiaocha"></i>调查结果</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-jieguo"></i>评估结果</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-bi"></i>签约情况</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-xiangmu"></i>征收工作</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-banshizhinan"></i>办事指南</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-dianhua"></i>监督电话</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-fangzi"></i>房源信息</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-jindu"></i>拆迁进度</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>		
		
		<div class="mui-inner-wrap">
			<header class="mui-bar top-bar">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">民意征集</h1>
				<a id="offCanvasBtn" href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-right"></a>
			</header>
			
			<div id="offCanvasContentScroll" class="mui-content mui-scroll-wrapper">
				<div class="mui-scroll">
					<h1 class="detail-title">江山市2018年第1批次征地补偿标准安置途径</h1>
					<div class="detail-infor">                            
						<span>访问次数：49</span>
						<span>信息来源： 江门晚报</span>
						<span>发布时间：2018-05-02 14:50</span>
					</div>
					
					<div class="detail-text">
						<p>江山市世纪花园社区：</p>
						<p>因项目建设需要，拟征收农民集体土地，现将有关情况告知如下：</p>
						<p>一、亳州市2018年第1批次</p>
						<p>城市建设用地：江门经济开发区储备地块A-36-3</p>
						<p>二、拟征土地位置（四至范围）</p>
						<p>该项目位于江山市世纪花园社区，其用地范围：北邻安徽亮福新材料科技有限公司，东邻安徽省恒隆实业有限公司，南邻胡阁村耕地，西邻庄周路原工业路。</p>
						<p>三、被征地村、组拟征土地面积</p>
						<p>征收江山市世纪花园社区土地1.929亩。其中：耕地1.698亩，集体建设用地0.231亩。各村组被征土地实际面积及地类以实地勘测定界结果为准</p>
					</div>
					
					<div class="detail-collect">
						<div class="title">
							<h2>我要参与</h2>
						</div>
						
						<form action="">
							<div class="mui-input-row">
								<label for="">姓名:</label>
								<input class="text" type="text" placeholder="请输入您的姓名">
							</div>
							<div class="mui-input-row">
								<label for="">邮箱:</label>
								<input class="text" type="text" placeholder="请输入您的邮箱">
							</div>
							<div class="mui-input-row">
								<label for="">手机:</label>
								<input class="text" type="text" placeholder="请输入您的手机号码">
							</div>
							<div class="mui-input-row">
								<label for="">内容:</label>
								<textarea id="textarea" placeholder="请输入意见内容"></textarea>
							</div>
							<div class="mui-input-row">
								<label for="">验证码:</label>
								<span class="code-img"><img src="../media/images/code.png" /></span>
								<input class="code-input" type="text" placeholder="请输入验证码">
							</div>
							<div class="mui-input-row mui-text-center">
								<input type="submit" value="提交" />
							</div>
						</form>
					</div>
				</div>
			</div>
				
			<footer class="mui-bar mui-bar-tab" id="footer-jump">
				<a class="mui-tab-item" href="home.html"><i class="icon iconfont icon-index"></i>首页</a>
				<a class="mui-tab-item" href=""><i class="icon iconfont icon-chaxun"></i>查询</a>
				<a class="mui-tab-item" href="login.html"><i class="icon iconfont icon-personal1-copy"></i>个人中心</a>
			</footer>
			
			<!-- off-canvas backdrop -->
			<div class="mui-off-canvas-backdrop"></div>
		</div>
			
		</div>
	</body>
	
	
	<script src="../media/js/mui.min.js"></script>
	<script src="../media/js/common.js"></script>
	<script src="../media/js/app.js"></script>
	<script>
		////初始化
		mui.init();
	</script>
	

</html>