<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="keywords" content="关键字" />
        <meta name="description" content="描述" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="address=no" />
        <!--for baidu 识别移动端页面并禁止百度转码-->
        <meta name="applicable-device"content="mobile"> 
        <meta http-equiv="Citem1mobileache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../media/css/mui.min.css" rel="stylesheet" />
		<link href="../media/css/app.css" rel="stylesheet" />
		<link href="../media/css/iconfont.css" rel="stylesheet" />
	</head>

	<body>
		<header class="mui-bar top-bar">
			<h1 class="mui-title">江山市阳光征收信息公开平台</h1>
		</header>

		<div class="mui-content" id="content-jump">
			<div class="mui-slider nav-box">
				<div class="mui-slider-group">
					<div id="item1mobile" class="mui-slider-item">
						<ul class="nav-list nav-list-screenX">
							<li>
								<a href="detail.html"><span class="i1"><i class="icon iconfont icon-wenjian1"></i></span>项目概况</a>
							</li>
							<li>
								<a href="list.html"><span class="i2"><i class="icon iconfont icon-shuyuedushoucangxianxing"></i></span>政策法规</a>
							</li>
							<li>
								<a href="javascirpt:void(0)" id="confirmBtn"><span class="i3"><i class="icon iconfont icon-chizi"></i></span>补偿方案</a>
							</li>
							<li>
								<a href="list.html"><span class="i4"><i class="icon iconfont  icon-tongzhi"></i></span>公告公示</a>
							</li>
						</ul>
						
						<ul class="nav-list nav-list-screenL">
							<li>
								<a href="detail.html"><span class="i1"><i class="icon iconfont icon-wenjian1"></i></span>项目概况</a>
							</li>
							<li>
								<a href="list.html"><span class="i2"><i class="icon iconfont icon-shuyuedushoucangxianxing"></i></span>政策法规</a>
							</li>
							<li>
								<a href="javascirpt:void(0)" id="confirmBtnPc"><span class="i3"><i class="icon iconfont icon-chizi"></i></span>补偿方案</a>
							</li>
							<li>
								<a href="list.html"><span class="i4"><i class="icon iconfont  icon-tongzhi"></i></span>公告公示</a>
							</li>
							<li>
								<a href=""><span class="i5"><i class="icon iconfont icon-tiaocha"></i></span>调查结果</a>
							</li>
							<li>
								<a href=""><span class="i6"><i class="icon iconfont icon-jieguo"></i></span>评估结果</a>
							</li>
						</ul>
					</div>

					<div id="item2mobile" class="mui-slider-item">
						<ul class="nav-list nav-list-screenX">
							<li>
								<a href=""><span class="i5"><i class="icon iconfont icon-tiaocha"></i></span>调查结果</a>
							</li>
							<li>
								<a href=""><span class="i6"><i class="icon iconfont icon-jieguo"></i></span>评估结果</a>
							</li>
							<li>
								<a href="list.html"><span class="i7"><i class="icon iconfont icon-bi"></i></span>签约情况</a>
							</li>
							<li>
								<a href="levy.html"><span class="i8"><i class="icon iconfont icon-xiangmu"></i></span>征收工作</a>
							</li>
						</ul>
						
						<ul class="nav-list nav-list-screenL">
							<li>
								<a href="list.html"><span class="i7"><i class="icon iconfont icon-bi"></i></span>签约情况</a>
							</li>
							<li>
								<a href="levy.html"><span class="i8"><i class="icon iconfont icon-xiangmu"></i></span>征收工作</a>
							</li>
							<li>
								<a href="list.html"><span class="i9"><i class="icon iconfont icon-banshizhinan"></i></span>办事指南</a>
							</li>
							<li>
								<a href="detail.html"><span class="i10"><i class="icon iconfont icon-dianhua"></i></span>监督电话</a>
							</li>
							<li>
								<a href="list1.html"><span class="i11"><i class="icon iconfont icon-fangzi"></i></span>房源信息</a>
							</li>
							<li>
								<a href="list.html"><span class="i12"><i class="icon iconfont icon-jindu"></i></span>拆迁进度</a>
							</li>
						</ul>
					</div>

					<div id="item3mobile" class="mui-slider-item nav-list-screenX">
						<ul class="nav-list">
							<li>
								<a href="list.html"><span class="i9"><i class="icon iconfont icon-banshizhinan"></i></span>办事指南</a>
							</li>
							<li>
								<a href="detail.html"><span class="i10"><i class="icon iconfont icon-dianhua"></i></span>监督电话</a>
							</li>
							<li>
								<a href="list1.html"><span class="i11"><i class="icon iconfont icon-fangzi"></i></span>房源信息</a>
							</li>
							<li>
								<a href="list.html"><span class="i12"><i class="icon iconfont icon-jindu"></i></span>拆迁进度</a>
							</li>
						</ul>
					</div>
				</div>
				
				<div class="mui-slider-indicator mui-slider-num">
					<div class="mui-indicator mui-active"></div>
					<div class="mui-indicator"></div>
					<div class="mui-indicator nav-list-screenX"></div>
				</div>
			</div>
			
			<div class="project-total">
				<h1>通禄门片区房屋征收项目<i></i></h1>
				<div class="total-list">
					<ul class="">
						<li class="mui-table-view-cell"><i></i>项目总用地面积<b>126.84</b>亩</li>
						<li class="mui-table-view-cell"><i></i>计划总投资约<b>6</b>亿元</li>
						<li class="mui-table-view-cell"><i></i>共需征收房屋<b>309</b>户</li>
						<li class="mui-table-view-cell"><i></i>建筑面积约<b>6</b>万平方米</li>
						<li class="mui-table-view-cell"><i></i>其中私房征收<b>295</b>户</li>
						<li class="mui-table-view-cell"><i></i>单位房屋征收<b>14</b>家</li>
					</ul>
				</div>	
			</div>
			
			<div class="panel-box">
				<div class="title">
					<i class="icon iconfont icon-wenjian"></i>
					<a href="list.html" class="jump-list">征收动态</a>
				</div>
				
				<ul class="mui-table-view" id="jump-detail">
					<li class="mui-table-view-cell mui-media">
						<a href="detail.html">
							<img class="mui-media-object mui-pull-left" src="../media/images/img_default.jpg">
							<div class="mui-media-body">
								<h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2>
								<span>阳光征收</span>
								<span class="time">2018-03-28</span>
							</div>
						</a>
						<div class="line"></div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="detail.html">
							<img class="mui-media-object mui-pull-left" src="../media/images/img_default.jpg">
							<div class="mui-media-body">
								<h2>铜陵市郊区大通共和街棚户区房屋征收安置补偿方案（征求意见稿）公示照片</h2>
								<span>阳光征收</span>
								<span class="time">2018-03-28</span>
							</div>
						</a>
						<div class="line"></div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="detail.html">
							<img class="mui-media-object mui-pull-left" src="../media/images/img_default.jpg">
							<div class="mui-media-body">
								<h2>市征收办与田间村召开联合党委会讨论研究联建计划和帮扶计划</h2>
								<span>阳光征收</span>
								<span class="time">2018-03-28</span>
							</div>
						</a>
						<div class="line"></div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="detail.html">
							<img class="mui-media-object mui-pull-left" src="../media/images/img_default.jpg">
							<div class="mui-media-body">
								<h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2>
								<span>阳光征收</span>
								<span class="time">2018-03-28</span>
							</div>
						</a>
						<div class="line"></div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="detail.html">
							<img class="mui-media-object mui-pull-left" src="../media/images/img_default.jpg">
							<div class="mui-media-body">
								<h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2>
								<span>阳光征收</span>
								<span class="time">2018-03-28</span>
							</div>
						</a>
						<div class="line"></div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="detail.html">
							<img class="mui-media-object mui-pull-left" src="../media/images/img_default.jpg">
							<div class="mui-media-body">
								<h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2>
								<span>阳光征收</span>
								<span class="time">2018-03-28</span>
							</div>
						</a>
						<div class="line"></div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="detail.html">
							<img class="mui-media-object mui-pull-left" src="../media/images/img_default.jpg">
							<div class="mui-media-body">
								<h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2>
								<span>阳光征收</span>
								<span class="time">2018-03-28</span>
							</div>
						</a>
						<div class="line"></div>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="detail.html">
							<img class="mui-media-object mui-pull-left" src="../media/images/img_default.jpg">
							<div class="mui-media-body">
								<h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2>
								<span>阳光征收</span>
								<span class="time">2018-03-28</span>
							</div>
						</a>
						<div class="line"></div>
					</li>
				</ul>
				
			</div>
		</div>
		
		<footer class="mui-bar mui-bar-tab" id="footer-jump">
			<a class="mui-tab-item" href="home.html"><i class="icon iconfont icon-index"></i>首页</a>
			<a class="mui-tab-item" href=""><i class="icon iconfont icon-chaxun"></i>查询</a>
			<a class="mui-tab-item" href="login.html"><i class="icon iconfont icon-personal1-copy"></i>个人中心</a>
		</footer>
	</body>
	
	<script src="../media/js/mui.min.js"></script>
	<script src="../media/js/common.js"></script>
	<script>
		//初始化
		mui.init();
		
		//身份绑定
		document.getElementById("confirmBtn").addEventListener('tap', function() {
			var btnArray = ['不绑定', '去绑定'];
			mui.confirm('必须是基地中的征收户才能使用该功能！需要去绑定身份证吗？', '江山市阳光征收信息公开平台', btnArray, function(e) {
				if (e.index == 0) {
					return false;
				} else {
					mui.openWindow({
		                url:"bound.html"
		            })
				}
			})
		});
		
		//身份绑定
		document.getElementById("confirmBtnPc").addEventListener('click', function() {
			var btnArray = ['不绑定', '去绑定'];
			mui.confirm('必须是基地中的征收户才能使用该功能！需要去绑定身份证吗？', '江山市阳光征收信息公开平台', btnArray, function(e) {
				if (e.index == 0) {
					return false;
				} else {
					mui.openWindow({
		                url:"bound.html"
		            })
				}
			})
		});
	
	
	</script>

</html>