<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="keywords" content="关键字" />
        <meta name="description" content="描述" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="address=no" />
        <!--for baidu 识别移动端页面并禁止百度转码-->
        <meta name="applicable-device"content="mobile"> 
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../media/css/mui.min.css" rel="stylesheet" />
		<link href="../media/css/app.css" rel="stylesheet" />
		<link href="../media/css/iconfont.css" rel="stylesheet" />
		<link href="../media/css/mpicker.css" rel="stylesheet" />
	</head>

	<body class="gray-bg">
		<header class="mui-bar top-bar">
			<h1 class="mui-title">江山市阳光征收信息公开平台</h1>
		</header>

		<div class="mui-content">
			<form action="">
				<div class="set-infor">
					<div class="select-box">
						<input class="btn mui-btn mui-btn-block select-value" value="年月">
						<span class="mui-icon mui-icon-arrowdown"></span>
					</div>
					
					<div class="select-box">
						<select name="certificate" id="" class="">
							<option>征收项目</option >
							<option>项目1</option >
							<option>项目2</option >
							<option>项目3</option >
						</select>
						<span class="mui-icon mui-icon-arrowdown"></span>
					</div>
					
					<input type="submit" class="btn-submit btn1-submit" value="保存" />
				</div>
			</form>
		</div>
		
		<footer class="mui-bar mui-bar-tab" id="footer-jump">
			<a class="mui-tab-item" href="home.html"><i class="icon iconfont icon-index"></i>首页</a>
			<a class="mui-tab-item" href=""><i class="icon iconfont icon-chaxun"></i>查询</a>
			<a class="mui-tab-item" href="login.html"><i class="icon iconfont icon-personal1-copy"></i>个人中心</a>
		</footer>
	</body>
	
	<script src="../media/js/jquery.min.js"></script>
	<script src="../media/js/json.js" ></script>
	<script src="../media/js/mPicker.min.js"></script>
	<script src="../media/js/mui.min.js"></script>
	<script src="../media/js/common.js"></script>
	<script>

		$('.select-value').mPicker({
            level:2,
            dataJson:level3,
            rows:5,
            splitStr:'-',
            Linkage:false,
            header:'<div class="mPicker-header">请选择年月</div>',
            confirm:function(json){
                console.info('当前选中json：', json);
            }
        })
	</script>

</html>