<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="keywords" content="关键字" />
        <meta name="description" content="描述" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="address=no" />
        <!--for baidu 识别移动端页面并禁止百度转码-->
        <meta name="applicable-device"content="mobile"> 
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../media/css/mui.min.css" rel="stylesheet" />
		<link href="../media/css/app.css" rel="stylesheet" />
		<link href="../media/css/iconfont.css" rel="stylesheet" />
	</head>

	<body>
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-slide-in">
		<!--菜单部分-->
		<aside id="offCanvasSide" class="mui-off-canvas-right">
			<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="slider-nav">
						<li class="mui-table-view-cell">
							<a href="detail.html"><i class="icon iconfont icon-wenjian1"></i>项目概况</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="list.html"><i class="icon iconfont icon-shuyuedushoucangxianxing"></i>政策法规</a>
						</li>
						<li class="mui-table-view-cell">
							<a href="list.html"><i class="icon iconfont  icon-tongzhi"></i>公告公示</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-tiaocha"></i>调查结果</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-jieguo"></i>评估结果</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-bi"></i>签约情况</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-xiangmu"></i>征收工作</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-banshizhinan"></i>办事指南</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-dianhua"></i>监督电话</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-fangzi"></i>房源信息</a>
						</li>
						<li class="mui-table-view-cell">
							<a href=""><i class="icon iconfont icon-jindu"></i>拆迁进度</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>		
		
		<div class="mui-inner-wrap">
			<header class="mui-bar top-bar">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">政策法规</h1>
				<a id="offCanvasBtn" href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-right"></a>
			</header>
			
			
			<!--下拉刷新容器-->
			
			<div class="panel-box panel1-box">
				<div class="m-banner">
					<img src="../media/images/advert.jpg" alt="" />
				</div>
				
				<div class="title">
					<i class="icon iconfont icon-wenjian"></i>
					<a href="">政策法规</a>
				</div>
				<!--数据列表-->
				<ul class="mui-table-view mui-table-view-chevron">
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>江山市人民政府关于印发《将上市市区征收集体土地房屋拆迁补偿暂行办法》的通知（江政发【2012】88号）</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>中华人民共和国国务院令第590号《国有土地上房屋征收与补偿条例》</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>江山市人民政府关于印发《将上市市区征收集体土地房屋拆迁补偿暂行办法》的通知（江政发【2012】88号）</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
					<li class="mui-table-view-cell"><a href="detail.html"><div class="mui-media-body"><h2>江山市人民政府关于印发《将上市市区征收集体土地房屋拆迁补偿暂行办法》的通知（江政发【2012】88号）</h2><span>阳光征收</span><span class="time">2018-03-28</span></div></a><div class="line"></div></li>
				</ul>
				
			</div>
			

					
			<footer class="mui-bar mui-bar-tab" id="footer-jump">
				<a class="mui-tab-item" href="home.html"><i class="icon iconfont icon-index"></i>首页</a>
				<a class="mui-tab-item" href=""><i class="icon iconfont icon-chaxun"></i>查询</a>
				<a class="mui-tab-item" href="login.html"><i class="icon iconfont icon-personal1-copy"></i>个人中心</a>
			</footer>
			
			<!-- off-canvas backdrop -->
			<div class="mui-off-canvas-backdrop"></div>
		</div>
			
		</div>
	</body>

	<script src="../media/js/mui.min.js"></script>
	<script src="../media/js/common.js"></script>
	<script src="../media/js/app.js"></script>
	<script>
		////初始化
		mui.init();
		
	</script>

</html>