<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
		<meta name="keywords" content="关键字" />
        <meta name="description" content="描述" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="format-detection" content="address=no" />
        <!--for baidu 识别移动端页面并禁止百度转码-->
        <meta http-equiv="Cache-Control" content="no-transform" />
        <meta http-equiv="Cache-Control" content="no-siteapp" />
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../media/css/mui.min.css" rel="stylesheet" />
		<link href="../media/css/app.css" rel="stylesheet" />
		<link href="../media/css/iconfont.css" rel="stylesheet" />
	</head>

	<body>
		<div id="offCanvasWrapper" class="mui-off-canvas-wrap mui-draggable mui-slide-in">
		<!--菜单部分-->
		<aside id="offCanvasSide" class="mui-off-canvas-right">
			<div id="offCanvasSideScroll" class="mui-scroll-wrapper">
				<div class="mui-scroll">
					<ul class="slider-nav">
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont icon-wenjian1"></i>项目概况</a>
						</li>
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont icon-shuyuedushoucangxianxing"></i>政策法规</a>
						</li>
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont icon-chizi"></i>补偿方案</a>
						</li>
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont  icon-tongzhi"></i>公告公示</a>
						</li>
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont icon-tiaocha"></i>调查结果</a>
						</li>
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont icon-jieguo"></i>评估结果</a>
						</li>
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont icon-bi"></i>签约情况</a>
						</li>
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont icon-xiangmu"></i>征收工作</a>
						</li>
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont icon-banshizhinan"></i>办事指南</a>
						</li>
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont icon-dianhua"></i>监督电话</a>
						</li>
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont icon-fangzi"></i>房源信息</a>
						</li>
						<li class="mui-table-view-cell">
							<a class=""><i class="icon iconfont icon-jindu"></i>拆迁进度</a>
						</li>
					</ul>
				</div>
			</div>
		</aside>		
		
		<div class="mui-inner-wrap">
			<header class="mui-bar top-bar">
				<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
				<h1 class="mui-title">在线投票</h1>
				<a id="offCanvasBtn" href="#offCanvasSide" class="mui-icon mui-action-menu mui-icon-bars mui-pull-right"></a>
			</header>
			
			<div class="mui-content">
				<h1 class="detail-title">关于城市生活垃圾分类的调查问卷</h1>
				<div class="detail-infor">                            
					<span>访问次数：49</span>
					<span>信息来源： 江门晚报</span>
					<span>发布时间：2018-05-02 14:50</span>
				</div>
				
				<div class="detail-vote">
					<form action="">
						<ul>
							<li>
								<h3>1.您的年龄是：</h3>
								<div class="mui-input-row mui-radio mui-left">
									<label>A.10岁以下</label>
									<input name="radio1" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>B.10岁至20岁</label>
									<input name="radio1" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>C.20-50岁</label>
									<input name="radio1" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>D.50岁以上</label>
									<input name="radio1" type="radio">
								</div>
							</li>
							
							<li>
								<h3>2.您认为垃圾分类回收中，哪个群体应该发挥最大作用：</h3>
								<div class="mui-input-row mui-radio mui-left">
									<label>A.垃圾排放者</label>
									<input name="radio2" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>B.环卫工</label>
									<input name="radio2" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>C.相关职能部门</label>
									<input name="radio2" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>D.宣传媒体</label>
									<input name="radio2" type="radio">
								</div>
							</li>
							
							<li>
								<h3>3.您觉得分类垃圾桶的设置对改善环境有帮助吗：</h3>
								<div class="mui-input-row mui-radio mui-left">
									<label>A.有</label>
									<input name="radio3" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>B.没有</label>
									<input name="radio3" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>C.没感觉</label>
									<input name="radio3" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>D.宣传媒体</label>
									<input name="radio3" type="radio">
								</div>
							</li>
							<li>
								<h3>3.您觉得分类垃圾桶的设置对改善环境有帮助吗：</h3>
								<div class="mui-input-row mui-radio mui-left">
									<label>A.有</label>
									<input name="radio3" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>B.没有</label>
									<input name="radio3" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>C.没感觉</label>
									<input name="radio3" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>D.宣传媒体</label>
									<input name="radio3" type="radio">
								</div>
							</li>
							<li>
								<h3>3.您觉得分类垃圾桶的设置对改善环境有帮助吗：</h3>
								<div class="mui-input-row mui-radio mui-left">
									<label>A.有</label>
									<input name="radio3" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>B.没有</label>
									<input name="radio3" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>C.没感觉</label>
									<input name="radio3" type="radio">
								</div>
								<div class="mui-input-row mui-radio mui-left">
									<label>D.宣传媒体</label>
									<input name="radio3" type="radio">
								</div>
							</li>
						</ul>
						
						<div class="buttons-group">
							<input type="submit" value="提交" />
							<input type="reset" value="重置" />
							<input type="button" value="查看结果" />
						</div>
					</form>
				</div>
			</div>
				
			<footer class="mui-bar mui-bar-tab" id="footer-jump">
				<a class="mui-tab-item" href="home.html"><i class="icon iconfont icon-index"></i>首页</a>
				<a class="mui-tab-item" href=""><i class="icon iconfont icon-chaxun"></i>查询</a>
				<a class="mui-tab-item" href="login.html"><i class="icon iconfont icon-personal1-copy"></i>个人中心</a>
			</footer>
			
			<!-- off-canvas backdrop -->
			<div class="mui-off-canvas-backdrop"></div>
		</div>
			
		</div>
	</body>
	
	
	<script src="../media/js/mui.min.js"></script>
	<script src="../media/js/common.js"></script>
	<script src="../media/js/app.js"></script>
	<script>
		////初始化
		mui.init();
	</script>
	

</html>