.guide-box{
	width: 100%;
	background: url(../images/guide_bg.jpg) 50% 0 no-repeat fixed;
	background-size: cover;
}
.guide-btn{
	display: block;
	padding: 19% 22% 0;
}
.guide-btn img{
	height: auto;
    width: 100%;
}
